* {
    padding: 0;
    margin: 0;
}

body {
    background: #cdcdcd;
}

#container {
    width: 1300px;
}

h1 {
    padding: 30px;
    margin-left: 20px;
    border: rgb(218, 95, 115);
    margin-top: 15px;
    border-radius: 10px;
    width: 1280px;
    color: #fff;
    height: 130px;
    background: rgb(218, 95, 115);
}

nav {
    margin-left: 20px;
    border: #000;
    margin-top: 15px;
    padding: 20px;
    border-radius: 10px;
    width: 1300px;
    background: #000;
    height: 30px;
}

nav a {
    padding: 10px 20px;
    padding-top: 35px;
    color: #fff;
    text-decoration: none;
}

div.tensp h3 {
    margin-left: 20px;
    border: rgb(13, 192, 28);
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    width: 1300px;
    background: rgb(13, 192, 28);
    height: 30px;
}